@media (max-width: 820px){
    .funcionarioInformacao{
        width: 100%;
    }

    .flex_end_btn{
        height: 50px;
    }

    header{
        display: flex;
        justify-content: space-around;
        margin-bottom: 24px;
    }

    .btns_config_voltar{
        width: 300px;
    }
}
