.adicionarConta{
    height: 240px;
    width: 100%;
    background-color: var(--cor-cinza--);
    border-radius: 24px;
    gap: 8px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 16px;
    flex-direction: column;
    
}

.adicionarContaInformacao{
    background-color: var(--background--);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 1200px;
    gap: 8px;
    border-radius: 24px;
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
}

.nomeContaNova{
    background-color: var(--cor-branca--);
    color: black;
    font-weight: 500;
    width: 500px;
    
}

.adicionarCpf{
    background-color: var(--cor-branca--);
    color: black;
    font-weight: 500;
    width: 500px;
    display: flex;
}

.adicionarNovaConta{
    display:flex ;
    align-items: center;
    justify-content: center;
}

.adicionarCpf::placeholder{
text-align: start;
}

.textConta{
    margin-top: 5%;
}
