.inputsCodigo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
    margin-top: 16px;
}

.codigo {
    width: 60px;
    height: 60px;
}
