.painelControle{
    height: 80px;
    border-radius: 24px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;

}

.subtitulo{
    font-family: Poppins;
    font-weight: 400;
    color: gray;
    margin: 10px;
}

.logoMJ{
    font-family: Poppins;
    display: flex;
    align-items: flex-start;
    margin: 0px;

}

.adicionar{
    height: 112px;
    width: 100%;
    background-color: var(--cor-cinza--);
    border-radius: 24px;
    gap: 8px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    padding: 16px;
}



.informacao{
    background-color: var(--cor-cinza--);
    height: 700px;
    border-radius: 24px;
    padding: 16px;
    padding-right: 32px;
    margin-top: 20px;
}

.botaoMais{
    width: 64px;
    height: 64px;
    border-radius: 24px;
    background-color:var(--cor-branca--) ;
    border: none;
}

.salgadoInformacao{
    background-color: var(--background--);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% ;
    gap: 8px;
    border-radius: 24px;
    padding: 8px;
    margin-left: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}



.nome{
    background-color:var(--cor-branca--);
    width: 640px;
    border-radius: 16px;
    gap: 8px;
    border: 1px solid var(--cor-cinza--);
    display: flex;
    justify-content: center;
    height: 90%;
    display: flex;
    align-items: center;

}

.descricao{
    background-color: var(--cor-branca--);
    border-radius: 16px;
    gap: 8px;
    border: 1px;
    display: flex;
    border: 1px solid var(--cor-cinza--);
    justify-content: center;
    height: 90%;
    display: flex;
    align-items: center;
    padding: 12px 36px;
}

.lixeira{
    border-radius: 16px;
    border: 1px;
    background-color:var(--cor-branca--); ;
    border: none;
    padding: 20px;
    height: 50px;
    width: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.infoNome{
    font-family: Poppins;
    font-weight: 500;
}

.infoDescricao{
    font-family: Poppins;
    font-weight: 500;
}

.foto{
    background-color: var(--cor-branca--);
    width: 640px;
    border-radius: 16px;
    gap: 8px;
    border: 1px;
    display: flex;
    border: 1px solid var(--cor-cinza--);
    justify-content: center;
    height: 90%;
    display: flex;
    align-items: center;

}

.infoFoto{
    font-family: Poppins;
    font-weight: 500;
}

.tag{
    background-color: var(--cor-branca--);
    width: 640px;
    border-radius: 16px;
    gap: 8px;
    border: 1px;
    display: flex;
    border: 1px solid var(--cor-cinza--);
    justify-content: center;
    height: 90%;
    display: flex;
    align-items: center;

}


.preco{
background-color: var(--cor-branca--);
    width: 640px;
    border-radius: 16px;
    gap: 8px;
    border: 1px;
    display: flex;
    border: 1px solid var(--cor-cinza--);
    justify-content: center;
    height: 90%;
    display: flex;
    align-items: center;

}


.botaoInformacao{
    width: 64px;
    height: 64px;
    border-radius: 24px;
    background-color:var(--cor-rosa--);
    border: none;
}

.colecao{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

}

.ativarButton{
    width: 24px;
    height: 24px;
    background-color:var(--cor-branca--);
    border: none;
}

.ativo{
    background-color: var(--cor-branca--);
    width: 640px;
    border-radius: 16px;
    gap: 8px;
    border: 1px;
    display: flex;
    border: 1px solid var(--cor-cinza--);
    justify-content: center;
    height: 90%;
    display: flex;
    align-items: center;

}

.infoPreco{
    font-weight: 300;
}

#salgadoInformacaoVermelho{
    background-color: var(--cor-rosa--);
}

body{
    background-color: var(--background--);
    padding: 16px;
}

.editar{
    width: 24px;
    height: 24px;
    background-color: var(--cor-branca--);
    border-radius: 16px;
    gap: 8px;
    border: 1px;
    display: flex;
    border: 1px solid var(--cor-cinza--);
    justify-content: center;
    display: flex;
    align-items: center;

}
