@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




h1 {
    text-align: center;
}


.tituloLog{
    display: flex;
    justify-content: center;
    font-family: Poppins;
    size: 24px;
    font-weight: 600;
}

input{
    border-radius: 16px;
    padding: 20px 16px 20px 16px;
    gap: 10px;
    font-family: Poppins;
    background-color: #F5F5F5;
    border: none;
    width: calc(100% - 32px);
}


.senhaEsquecida{
    display: flex;
    justify-content: center;
}

.linkEsqSenha{
    size: 10px;
   line-height: 15.01px;
   font-family: Poppins;
   color: black;
   text-decoration: none;
}


.textEmail{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.textSenha{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.nomeCantina{
    font-family: Montserrat;
    size: 36px;
    line-height: 43.92px;

}

.mj{
    font-weight: 400;
}

.titulo{
    margin: 0%;
}