    .proximo_pedido
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .confirmacaoConcluida{
        width: 300px;
        height: 180px;
        background-color: var(--cor-branca--);
        border: 1px solid var(--cor-cinza--);
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    a{
        text-decoration: none;
    }