.painelControle{
    margin: 16px;
}

.boxConf{
    width: 98%;
    margin: 16px;
    height: 359px;
    background-color:var(--cor-cinza--);
    border-radius: 8px;
}

.containerConfig{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.categoriasConfig{
    width: 170px;
    height: 150px;
    background-color: var(--cor-branca--);
    border-radius: 8px;
    display: flex;
    align-items: end;
    padding: 8px;
    font-family: var(--poppins--);
    
}

.icons{
    width: 32px;
    height: 32px;
}

.organizarIcon{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


