@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




h1 {
    text-align: center;
}



.tituloLog{
    display: flex;
    justify-content: center;
    font-family: Poppins;
    size: 24px;
    font-weight: 600;
    height: 55px;
}

.textsenha1{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
}

.textSenha2{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
   
}

.nomeCantina{
    font-family: Montserrat;
    size: 36px;
    line-height: 43.92px;

}

.mj{
    font-weight: 400;
}

.boxSub{
    display: flex;
    justify-content: center;
    align-items: center;

}

.subtitulo{
    font-family: Poppins;
    font-weight: 400;
    margin-bottom: 20px;

}

