:root {
    --background--: #fafafa;
    --cor-branca--: #fff;
    --cor-cinza--: #f0f0f0;
    --input--: #f5f5f5;
    --cor-preta--: #151515;
    --cor-rosa--: #ff2459;
    --borda--: 1px solid lightgray;
}