.botaoP{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: var(--cor-rosa--);
    color: var(--cor-branca--);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--poppins--);
    font-size: 10px;
    font-weight: 600;
    border: none;
    width: 100px;
    height: 36px;
    text-decoration: none;
    }

    .btns_header{
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .btns_balcao_conta{
       
        padding: 20px;
        border-radius: 20px;
        border: 1px solid lightgray;
        background-color: var(--cor-branca--);
    }
    
    .btns_config_sair{
        border-radius: 16px;
        border: 1px solid lightgray;
        background-color: var(--cor-branca--);
        padding: 15px;
    }
    
    .btns_config_voltar{
        border-radius: 16px;
        border: 1px solid lightgray;
        background-color: var(--cor-branca--);
        padding: 15px;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-family: Poppins;
        

    }

    .flex_end_btn{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-right: 8px;
    
    }
    
  .btn_adicionarNovaConta{
    border-radius: 16px;
    border: 1px solid lightgray;
    background-color: var(--cor-branca--);
    padding: 15px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: Poppins;
    margin-right: 20px;
  }
 
  .adicionarNovaConta{
    border-radius: 16px;
    border: 1px solid lightgray;
    background-color: var(--cor-branca--);
    padding: 15px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-family: Poppins;
    margin-right: 8px;
    width: 201px;
    height: 50px;
    background-color: #FF2459;
    color: white;
  
  }