.botaoP{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: var(--cor-rosa--);
    color: var(--cor-branca--);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--poppins--);
    font-size: 10px;
    font-weight: 600;
    border: none;
    width: 100px;
    height: 36px;
    text-decoration: none;
    }