.bottom_bar{
    display: flex;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
    width: 350px;
    height: 60px;
    background-color: var(--cor-branca--);
    border-radius: 24px;
    border: 1px solid var(--cor-cinza--);
    position: fixed;
    left: 40%;
   bottom: 8px;
}